
#heading{
  background-image: url(img/beachshowcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: block;
  text-align: center;
  color: #926239;
  font-family: Arial, Helvetica, sans-serif;
}
.article{
  padding-block: 200px;
}
.article-text{
  font-size: 50px;
  font-weight: 50px;
  margin-bottom: 0px;
}
.article-text1{
  font-size: 20px;
  font-weight: normal ;
  margin-top: 5px;
  padding-bottom: 18px;
}
.button{
  font-size: 18px;
  color: #926239;
  border: #926239 1px solid;
  padding: 14px 18px;
  border-radius: 10px;
  margin-top: px;
  text-decoration-line: none;
}
.button:hover{
  padding: 14px;
  background-color: #926239;
  color: aliceblue;
  text-align: center;
}
.section, .section1{
  padding: 20px;
  background-color: #926239;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
  
.section1{
  background-color: white;
  color: #926239;
  }

  #section2 .block1, .block3, .block2{ 
    height: 100px;
    width: 444px;
    float: left;
    background-color: #926239;
    color: white;
    box-sizing: unset;
    padding-block: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #section2 .block2{
    background-color: white;
    color: #926239;
  }
